.blue-background {
  border: 1px solid lightgray;
  border-radius: 10px; 
}

.task-item {
}

.task-item__add-tag-btn {
  color: #4070E6;
  border: 1px dashed #A7BDF5;
  border-radius: 20px;
  height: 32px;
  width: 32px;
  font-size: 24px;
  text-align: center;
  line-height: 28px;;
  cursor: pointer;
  margin: 4px;
  display: inline-block;
}

.task-item__description {
  color: #2A3650;
  font-size: 14px;
  margin-left: 13px;
}


.task-item__user-icon {
  border-radius: 50px;
}
